

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    width:100%;
}


.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;

    background:#094438;
    padding:10px 40px;

    position:sticky;
    top:0;
    z-index:1000;

    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius:10px;
}

.logo-text{
    color:#ffffff;
    font-size:22px;
    font-weight:600;
}

/* Navigation Links */

.nav-links{
    display:flex;
    align-items:center;
    gap:30px;
    list-style:none;

    margin-left:auto;
}

.nav-links a{
    text-decoration:none;
    color:#ffffff;
    font-weight:500;
    transition:0.3s ease;
}

.nav-links a:hover{
    color:#C0B87A;
}

/* Hamburger Menu */

.menu-toggle{
    display:none;
    font-size:28px;
    color:white;
    cursor:pointer;
}


#img{
    display:block;
    width:100%;
    height:auto;
}


@media(max-width:900px){

    .navbar{
        padding:10px 20px;
    }

    .menu-toggle{
        display:block;
        margin-left:auto;
    }

    .nav-links{
        position:absolute;
        top:100%;
        left:0;

        width:100%;
        background:#005F02;

        flex-direction:column;
        align-items:center;
        gap:20px;

        padding:20px 0;

        display:none;
    }

    .nav-links.show{
        display:flex;
    }
}